---
---

@import "{{ site.theme }}";
h1 {
  align-items: center;
}

@fontface {
  font-family: "Garamond";
  src: url("/assets/fonts/EBGaramond/EBGaramond-Italic.ttf");
}

q {
  font-family: "EBGaramond-Italic";
}
