---
---

@import "{{ site.theme }}";

@font-face {
  font-family: "Garamond";
  src: url("/assets/fonts/EBGaramond/EBGaramond-Italic.ttf");
}


h1 {
  align-items: center;
}


code {
  font-family: "Garamond";
  font-size: 12pt;
  background: antiquewhite;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}